.col-md-8
    form.form.form-horizontal(sf-schema='Model.schema', sf-form='Model.form', sf-model='model')
    a.btn.btn-primary( ng-click="save()") save
    a.btn.btn-danger(ng-show="!new" ng-click="delete()") delete